{% extends 'pages/base.html' %}

{% block title %}Hakkımızda{% endblock %}

{% block content %}
<div class="container">
    <div class="roww">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card shadow-lg border-0">
                <div class="card-header bg-primary text-white text-center py-4">
                    <h3 class="m-0">Hakkımızda</h3>
                </div>
                <div class="card-body p-4">
                    <p><strong>Giriş</strong><br> Web sitemizi kullanırken kişisel verilerinizin korunmasına büyük önem veriyoruz. Bu Veri Gizliliği Politikası, sizin kişisel verilerinizin nasıl toplandığını, kullanıldığını, işlendiğini ve saklandığını açıkça açıklamak amacıyla hazırlanmıştır. Kişisel verilerinizi yalnızca belirtilen amaçlar doğrultusunda toplar, kullanır ve güvende tutarız.</p>
                    <p><strong>Toplanan Kişisel Veriler</strong><br> Web sitemiz üzerinden kayıt olduğunuzda veya hizmetlerimizi kullandığınızda aşağıdaki kişisel verileri toplayabiliriz: Ad, soyad, e-posta adresi, IP adresi gibi bilgiler toplanabilir. Bu veriler yalnızca hizmetlerin sağlanması için kullanılacak ve üçüncü şahıslara aktarılmayacaktır.</p>
                    <p><strong>İletişim</strong><br> Veri Gizliliği Politikası ile ilgili herhangi bir sorunuz olursa, bizimle iletişime geçebilirsiniz.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <button class="btn-glitch-fill" 
    style="grid-column: 3; max-width: 215px; max-height: 65px;" 
    onclick="goBack()">
    <span class="text-decoration">\\ geri //</span>
    </button>
    </div>
</div>
{% endblock %}
