{% extends 'pages/base.html' %}

{% block title %}Anasayfa{% endblock %}

{% block content %}
  <h2 style="text-align: center; color: #ffffff; font-size: xx-large;">Hesap Bilgilerinizi Anonimleştir</h2>
  <form method="POST" action="/anonymize_account" onsubmit="submitAnonymizeForm(event)" style="text-align: center;">
    {% csrf_token %}
    <p style="color: aliceblue; text-align: center;">
      Hesap bilgilerinizi anonimleştirdiğinizde, hesabınız sistemde tamamen anonimleşir, giriş yapılamaz ve bir daha geri alınamaz. Devam etmek istediğinizden emin misiniz?
    </p>
    <div style="display: flex; justify-content: center; gap: 15px;">
      <button type="submit" class="btn-glitch-fill"><span class="text-decoration">!! evet, anonimleştir !!</span></button>
    </div>
  </form>
  <div style="text-align: center; margin-top: 15px;">
    <button class="btn-glitch-fill"  onclick="navigateTo('user')"><span class="text-decoration">\\ vazgeç //</span></button>
  </div>
{% endblock %}
