{% extends 'pages/base.html' %}

{% block title %}Kayıt Ol{% endblock %}

{% block content %}

    <h1 class="friiendss">Arkadaş Listesi</h1>

    <!-- Mevcut arkadaşlar -->
        <h2 class="friiendsss">Arkadaşlarım</h2>
        <ul class="friiendssss">
            {% if friend_list and friend_list.friends.exists %}
                {% for friend in friend_list.friends.all %}
                    <li class="friend-item" data-id="{{ friend.id }}" data-nick="{{ friend.nick }}">
                        <span class="friend-name">{{ friend.nick }}</span> 
                        <span class="friend-status">
                            {% if friend.is_online %}Online{% else %}Offline{% endif %}
                        </span>
                    </li>
                {% endfor %}
            {% else %}
                <li>Hiç arkadaşınız yok.</li>
            {% endif %}
        </ul>



    <!-- Gelen istekler -->
    <h2 class="friiendsss">Gelen İstekler</h2>
    <ul class="friiendssss">
        {% for request in received_requests %}
            <li>
                {{ request.from_user.nick }} 
                <a href="{% url 'accept_friend_request' request.id %}">Kabul Et</a> | 
                <a href="{% url 'reject_friend_request' request.id %}">Reddet</a>
            </li>
        {% empty %}
            <li>Bekleyen istek yok.</li>
        {% endfor %}
    </ul>

    <!-- Gönderilen istekler -->
    <h2 class="friiendsss">Gönderilen İstekler</h2>
    <ul class="friiendssss">
        {% for request in sent_requests %}
            <li>{{ request.to_user.nick }} - Beklemede</li>
        {% empty %}
            <li>Henüz bir istek göndermediniz.</li>
        {% endfor %}
    </ul>

    <section>
        <h2 class="friiendsss">Arkadaşlık İsteği Gönder</h2>
        <form method="POST" action="{% url 'send_friend_request' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="nick">Kullanıcı Adı:</label>
                <input type="text" id="nick" name="nick" placeholder="Kullanıcı adı girin" required>
            </div>
            <div style="display: flex; justify-content: center; gap: 15px;">
            <button class="btn-glitch-fill" type="submit"><span class="text-decoration">\\ gönder //</span></button>
        </form>
    </section>

    <div style="display: flex; justify-content: center; gap: 15px;">
        <button class="btn-glitch-fill" onclick="navigateTo('user')"><span class="text-decoration">\\ kapat //</span></button>
    </div>
        <!-- Mesajlar -->
    {% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

    
</body>
</html>
{% endblock %}