<!-- home.html -->
{% extends 'pages/base.html' %}

{% block title %}Anasayfa{% endblock %}

{% block content %}

    <h2>OYUNLAR</h2>
    
    <button class="button-image" onclick="navigateTo('game/pong')">
        <img src="https://via.placeholder.com/100" alt="Pong">
    </button>

    <button class="button-image" onclick="navigateTo('rockpaperscissors')">
        <img src="https://via.placeholder.com/100" alt="Taş kağıt makas">
    </button>

    <button class="button-image" onclick="navigateTo('user')">
        <img src="https://via.placeholder.com/100" alt="Geri dön">
    </button>
    <div class="content"></div>

{% endblock %}
