<!-- home.html -->
{% extends 'pages/base.html' %}

{% block title %}Anasayfa{% endblock %}

{% block content %}

    <h2 class="blinking-title">OYUNLAR</h2>
    <div class="buttoon-div">

        <div onclick="navigateTo('game/pong')">
            <a class="btn-glitch-fill">
                <span class="text-decoration">// PONG 1v1</span><span class="text-decoration"> _</span
                ><span class="decoration">⇒</span>
            </a>  
        </div>


        <div onclick="navigateTo('game/tournament')">
            <a class="btn-glitch-fill">
                <span class="text">// PONG Turnuva </span><span class="text-decoration"> _</span
                ><span class="decoration">⇒</span>
            </a>  
        </div>

        <div onclick="navigateTo('user')">
            <a class="btn-glitch-fill">
                <span class="text-decoration"> // </span><span class="text"> Anasayfa </span
                ><span class="text-decoration"> // </span>
            </a>  
        </div>
    </div>
    <div class="content"></div>

{% endblock %}
