
{% extends 'pages/base.html' %}

{% block title %}Anasayfa{% endblock %}

{% block content %}

<p style="color: rgb(255, 255, 255); text-align: center;">Veri Gizliliği Politikası

    Giriş Web sitemizi kullanırken kişisel verilerinizin korunmasına büyük önem veriyoruz. Bu Veri Gizliliği Politikası sizin kişisel verilerinizin nasıl toplandığını, kullanıldığını, işlendiğini ve saklandığını açıkça açıklamak amacıyla hazırlanmıştır. Kişisel verilerinizi yalnızca belirtilen amaçlar doğrultusunda toplar, kullanır ve güvende tutarız.
    
    Toplanan Kişisel Veriler Web sitemiz üzerinden kayıt olduğunuzda veya hizmetlerimizi kullandığınızda aşağıdaki kişisel verileri toplayabiliriz:
    
    E-posta Adresi: Hesabınıza erişim sağlamak ve sizlerle iletişim kurmak amacıyla toplanır.
    Kullanıcı Adı (Nick): Sitenin içeriğini kişiselleştirmek ve sizinle etkileşimde bulunmak için kullanılır.
    Şifre: Hesabınızı güvence altına almak için şifreli olarak saklanır.
    ID: Kullanıcı hesabınızı tanımlamak ve yönetmek için gereklidir.
    Bu veriler sadece sizlerin siteyi güvenli bir şekilde kullanabilmeniz ve kimliğinizin korunabilmesi amacıyla toplanmaktadır.
    
    Veri Toplama Yöntemleri Kişisel verileriniz, web sitemiz üzerinden aşağıdaki yöntemlerle toplanmaktadır:
    
    Kayıt Formu: Hesap oluştururken e-posta adresi, kullanıcı adı (nick) ve şifre bilgilerini sağlayarak kayıt olabilirsiniz.
    Çerezler: Web sitemiz, kullanıcı deneyiminizi geliştirmek için çerezler kullanabilir. Çerezler, tarayıcınızda saklanan küçük veri dosyalarıdır ve yalnızca kullanıcı deneyiminizi iyileştirmek amacıyla kullanılır.
    Veri Kullanımı Toplanan kişisel verileriniz aşağıdaki amaçlarla kullanılabilir:
    
    Hesabınızın oluşturulması ve yönetilmesi.
    Kullanıcı desteği sağlanması ve talep ettiğiniz hizmetlerin sunulması.
    Web sitemizdeki güvenlik önlemleri ve şifreli erişim için.
    Size, web sitemizle ilgili önemli bilgiler ve güncellemeler hakkında bildirim gönderilmesi.
    Yasal yükümlülüklerimize uyum sağlanması.
    Veri Paylaşımı Kişisel verileriniz hiçbir şekilde üçüncü şahıslarla paylaşılmayacaktır. Kişisel verileriniz yalnızca sizin onayınızla veya yasal zorunluluklar gereği paylaşılabilir.
    
    Veri Güvenliği Kişisel verilerinizin güvenliği bizim için çok önemlidir. Web sitemiz, kullanıcı verilerinizi güvenli bir şekilde saklamak için endüstri standartlarına uygun güvenlik önlemleri alır. Verileriniz şifrelenmiş olarak saklanır ve yalnızca yetkili kişiler erişebilir.
    
    Veri Saklama Süresi Kişisel verileriniz yalnızca gerekli olduğu sürece saklanır ve ardından güvenli bir şekilde silinir. Kullanıcı hesabınızı silmek istediğinizde, hesabınız ve kişisel verileriniz tüm sistemlerden silinir.
    
    Kullanıcı Hakları Kullanıcılar olarak aşağıdaki haklara sahipsiniz:
    
    Erişim Hakkı: Hangi kişisel verilere sahip olduğunuzu öğrenme hakkınız vardır.
    Düzeltme Hakkı: Yanlış veya eksik kişisel verileri düzeltme hakkınız vardır.
    Silme Hakkı: Hesabınızı ve kişisel verilerinizi silme talebinde bulunabilirsiniz.
    İtiraz Hakkı: Kişisel verilerinizin işlenmesine itiraz etme hakkınız vardır.
    Veri Taşınabilirliği Hakkı: Kişisel verilerinizi başka bir sisteme taşıma hakkınız vardır.
    Onay İptali: Kişisel verilerinizin işlenmesine verdiğiniz onayı her zaman geri alabilirsiniz.
    Yukarıdaki haklarınızı kullanmak için bizimle iletişime geçebilirsiniz. Bu tür taleplerinize en kısa sürede geri dönüş yapacağız.
    
    Çerezler Web sitemiz, kullanıcı deneyiminizi iyileştirmek için çerezler kullanabilir. Çerezler hakkında daha fazla bilgi edinmek ve bunları kontrol etmek için Çerez Politikası sayfamızı inceleyebilirsiniz.
    
    Değişiklikler Bu veri gizliliği politikası zaman zaman güncellenebilir. Politikada yapılan değişiklikler, bu sayfada yayımlandığı tarihten itibaren geçerli olacaktır. Bu yüzden, poliçenin güncel halini düzenli olarak kontrol etmeniz önemlidir.
    
    İletişim Bu Veri Gizliliği Politikası ile ilgili herhangi bir sorunuz olursa, bizimle iletişime geçebilirsiniz:</p>


    {% endblock %}