<!-- home.html -->
{% extends 'pages/base.html' %}

{% block title %}Anasayfa{% endblock %}

{% block content %}
<div class="container">
    <div class="buttons">
        <div id="message"></div>
        <div class="btn-glitch-fill" onclick="navigateTo('login')">
            <span class="text-decoration">// Login //</span>
        </div>
        <div class="btn-glitch-fill" onclick="navigateTo('register')">
            <span class="text-decoration">// Register //</span>
        </div>
    </div>
</div>
{% endblock %}
