<!-- home.html -->
{% extends 'pages/base.html' %}

{% block title %}Anasayfa{% endblock %}

{% block content %}
<div class="container">
    <div class="buttons">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p class="message {{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <div class="btn-glitch-fill" onclick="navigateTo('login')">
            <span class="text-decoration">// giriş yap //</span>
        </div>
        <div class="btn-glitch-fill" onclick="navigateTo('register')">
            <span class="text-decoration">// kayıt ol //</span>
        </div>
    </div>
</div>
{% endblock %}
