{% extends 'pages/base.html' %}

{% block title %}Anasayfa{% endblock %}

{% block content %}
<div>
    <div id="status">Waiting for players...</div>
    <div id="gameArea">
        <div id="centerLine"></div>
        <div id="ball"></div>
        <div id="player1" class="paddle"></div>
        <div id="player2" class="paddle"></div>
    </div>

    <label class="switch">
        <input type="checkbox">
        <span class="toggle" id="changeColorButton">
        </span>
    </label>
</div>
<button class="btn-white" onclick="navigateTo('game/home')">Geri dön</button>
<div id="content"></div>
{% endblock %}