{% extends 'pages/base.html' %}

{% block title %}Giriş Yap{% endblock %}

{% block content %}
<div class="container">
    <div class="buttons">
        <form method="post" action="/login" onsubmit="submitFormOne(event)">
            {% csrf_token %}
            <div class="form-group">
                <label for="nick">Nickname </label>
                <input type="text" class="input-field" id="nick" name="nick" placeholder="Nickname giriniz" required>
            </div>
            <div class="form-group">
                <label for="password">Şifre</label>
                <input type="password" class="input-field" id="password" name="password" placeholder="Şifre girin" required>
            </div>
            <button class="btn-glitch-fill" type="submit">
                <span class="text-decoration">// giriş yap //</span>
            </button>
        </form>

        <!-- 🛠️ Mesajların Görüntüleneceği Alan -->
        <div id="message" style="display: none; margin-top: 10px; padding: 8px; border-radius: 5px;"></div>

        <div class="btn-glitch-fill" onclick="navigateTo('register')">
            <span class="text-decoration">// KAYIT OL //</span>
        </div>
        <div class="btn-glitch-fill" onclick="navigateTo('home')">
            <span class="text-decoration">// Anasayfa //</span>
        </div>
        <div class="messages">
            <div id ="message"></div>
        </div>
    </div>
</div>
{% endblock %}
