<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayıt Ol</title>
    {% load static %}
    <link rel="stylesheet" href="/static/assets/css/styles.css">
</head>
<body>
    <h2>Kayıt Formu</h2>

    <!-- Formu başlatıyoruz -->
    <form method="POST" action="/register">
        {% csrf_token %}
        
        <!-- Kullanıcı adı inputu -->
        <label for="nick">Kullanıcı Adı:</label>
        <input type="text" id="nick" name="nick" required value="{{ form.nick.value }}">
        <!-- Nick hatalarını burada gösteriyoruz -->
        {% if form.nick.errors %}
            <div class="error">
                {% for error in form.nick.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <br>
        
        <!-- E-posta inputu -->
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required value="{{ form.email.value }}">
        <!-- Email hatalarını burada gösteriyoruz -->
        {% if form.email.errors %}
            <div class="error">
                {% for error in form.email.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <br>
        
        <!-- Şifre inputu -->
        <label for="password">Şifre:</label>
        <input type="password" id="password" name="password" required value="{{ form.password.value }}">
        <!-- Password hatalarını burada gösteriyoruz -->
        {% if form.password.errors %}
            <div class="error">
                {% for error in form.password.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <br>

        <button type="submit">Kayıt Ol</button>
    </form>
    
    <a href="/">Anasayfa'ya Dön</a>
</body>
</html>
