<!-- userInterface.html -->
{% extends 'pages/base.html' %}

{% block title %}Kullanıcı Arayüzü{% endblock %}

{% block content %}
<div class="container">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <div class="user-card">
        <div class="user-image">
            <img src="{{ user.avatar.url }}" alt="Avatar">
        </div>
        <div class="user-info">
            <p><strong>Adı:</strong> {{ username }}<span id="username"></span></p>
            <p><strong>E-posta:</strong> {{ email }}<span id="email"></span></p>
        </div>
    </div>




    <div class="buttons">
        <div class="btn-glitch-fill" onclick="navigateTo('game/home')">
            <span class="text-decoration">// OYUN //</span>
        </div>
        <div class="btn-glitch-fill" onclick="navigateTo('user/update')">
            <span class="text-decoration">// düzenle //</span>
        </div>
        <div class="btn-glitch-fill" onclick="navigateTo('logout')">
            <span class="text-decoration">// çıkış yap //</span>
        </div>
        <div class="btn-glitch-fill" onclick="activate2FA()">
            <span class="text-decoration">// activate 2FA //</span>
        </div>
        <div class="btn-glitch-fill" onclick="navigateTo('anonymize_account')">
            <span class="text-decoration">// anonimleştir //</span>
        </div>
        <div class="btn-glitch-fill" onclick="navigateTo('user/delete')">
            <span class="text-decoration">// hesabı sil //</span>
        </div>
        <div class="btn-glitch-fill" onclick="navigateTo('friends/')">
            <span class="text-decoration">// Arkadaş //</span>
        </div>
        <div class="btn-glitch-fill" onclick="navigateTo('game/profile/1')">
            <span class="text-decoration">// profil //</span>
        </div>



            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p class="message {{ message.tags }}">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
    </div>
    <div id="content"></div>
</div>
{% endblock %}
