@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    height: 100vh;
    /*background: linear-gradient(45deg, #ff6b6b, #f06595, #9b59b6, #3498db);*/
    background: linear-gradient(45deg, #000000, #3a3535, #000000);
    background-size: 250% 250%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: gradientAnimation 10s ease infinite;
} 

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr 5fr 5fr 1fr;
    grid-template-rows: 5fr 5fr 5fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;
    transition: grid-template-columns 0.6s ease-in-out, grid-template-rows 0.6s ease-in-out;
}


.GDPR {
    /* position: fixed; */
    grid-column: 3;
    text-align: center;
    bottom: 20px; /* Ekranın altından 20px yukarıda olacak */
    width: 150px;
    left: 50%;    /* Yatay eksende ortalanacak */
    transform: translateX(-50%); /* Ortalamak için sola kaydır */
    background-color: transparent;
    cursor: pointer;
}

.GDPR2 {
    /* position: fixed; */
    grid-column: 4;
    text-align: center;
    bottom: 20px; /* Ekranın altından 20px yukarıda olacak */
    width: 150px;
    left: 50%;    /* Yatay eksende ortalanacak */
    transform: translateX(-50%); /* Ortalamak için sola kaydır */
    background-color: transparent;
    cursor: pointer;
}

.lazMusti{
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 5fr 5fr;
    position: fixed;
    bottom: 0px; /* Ekranın altından 20px yukarıda olacak */
    width: 100%;
    height: 1%;
    left: 50%;    /* Yatay eksende ortalanacak */
    transform: translateX(-50%); /* Ortalamak için sola kaydır */
    background-color: transparent;
    color: rgb(255, 255, 255);  /* Yazı rengi */
    padding: 10px 20px; /* İçerik dolgusu */
    border-radius: 8px; /* Köşeleri yuvarlat */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
}

.roww{
    margin-top: 150px;
    grid-column: 2/5;
}

/* -------- Button ---------- */

.buttons {
    grid-column: 3;
    grid-row: 2;
    margin: auto;
    display: flex; /* Flexbox aktif */
    flex-direction: column; /* Butonları alt alta sıralar */
    justify-content: center; /* Dikeyde ortalar */
    align-items: center; /* Yatayda ortalar */
    gap: 10px; /* Butonlar arası boşluk */
}

button {
    background-color: transparent;
}


/* ---------- Lable-İnput ---------- */

.form-group {
    margin-bottom: 20px; /* Her grup arasında boşluk */
    display: flex;
    flex-direction: column; /* Elemanları dikey hizala */
    align-items: center;
}

.form-group label {
    font-size: 16px; /* Yazı boyutu */
    font-weight: bold; /* Kalın yazı */
    color: #ffffff; /* Koyu gri */
    margin-bottom: 5px; /* Input ile aralık */
}

.input-field {
    width: 100%; /* Tam genişlik */
    max-width: 200px; /* Maksimum genişlik */
    color: white;
    background-color: transparent;
    padding: 10px 15px; /* İç boşluk */
    border: 2px solid #ffffff; /* Kenar rengi */
    border-radius: 25px; /* Oval kenarlar */
    font-size: 16px; /* Yazı boyutu */
    outline: none; /* Odaklandığında mavi kenarlığı kaldır */
    transition: all 0.3s ease; /* Geçiş efekti */
    text-align: center;
}

.input-field:focus {
    border-color: #ffff00; /* Kenar rengi */
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5); /* Yeşil gölge efekti */
}

.input-field::placeholder {
    color: #ffffff; /* Açık gri renk */
    font-style: italic; /* Eğik yazı */
}


.avatar-select{
    width: 235px;
    color: white;
    background-color: transparent;
    padding: 10px 15px; /* İç boşluk */
    border: 2px solid #ffffff; /* Kenar rengi */
    border-radius: 25px; /* Oval kenarlar */
    font-size: 16px; /* Yazı boyutu */
    outline: none; /* Odaklandığında mavi kenarlığı kaldır */
    transition: all 0.3s ease; /* Geçiş efekti */
}

select.avatar-select option {
    background-color: #fff;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    padding: 10px;
    border: none;
    margin: 2px 0;
}


.message {
    background: linear-gradient(45deg, #000428, #004e92, #001f54, #090979);
    color: white; 
    padding: 10px 15px; 
    margin-bottom: 10px; 
    border-radius: 15px; 
    max-width: 100%;
    word-wrap: break-word;
    align-self: flex-end; 
    text-align: center;
    animation: fadeIn 0.5s ease-in, fadeOut 0.5s ease-out 3s forwards;
}

#messages::-webkit-scrollbar {
    display: none;
}





/* Kullanıcı */

.user-card {
    grid-column: 3;
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgb(0, 0, 0); /* Kartın etrafına gölge */
    transition: height 0.4s ease, width 0.4s ease, border-radius 0.4s ease;
}

.user-image {
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.user-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Yuvarlak resim */
    object-fit: cover; /* Resim içeriği doğru şekilde sığdır */
}

.user-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    text-align: center;
    color: #fff; /* Yazı rengi */
    font-family: 'Arial', sans-serif; /* Yazı tipi */
    font-size: 1rem; /* Yazı boyutu */
    font-weight: 600; /* Yazı kalınlığı */
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.user-card:hover {
    width: 250px; /* Kart genişler */
    height: 250px; /* Kart uzar */
    border: 2px solid rgb(255, 174, 0);

}

.user-card:hover .user-image {
    transform: scale(0.5); /* Resim küçülür */
    opacity: 0; /* Resim kaybolur */
}

.user-card:hover .user-info {
    opacity: 1; /* Bilgi kutusu görünür */
    visibility: visible;
}

.user-card:hover {
    background: transparent;
    background-size: 350% 350%;
    background-position: center;
}

img{
    background: transparent;
}

.message-div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: black;
}

/* Animasyon */

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 14px;
}
.error p {
    margin: 0;
}

.messages {
    margin-bottom: 20px;
}

.messages .success {
    color: white;
}

.messages .error {
    color: red;
}

.error p {
    font-size: 14px;
    color: red;
    margin: 5px 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
	
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes wave-open {
    0% {
        transform: translateX(100%) scaleY(0.8);
        opacity: 0;
    }
    50% {
        transform: translateX(10%) scaleY(1.2);
        opacity: 0.5; 
    }
    100% {
        transform: translateX(0) scaleY(1);
        opacity: 1; 
    }
}

.rotating-circle {
    animation: rotateGrow 40s ease-in-out infinite;
  }
  
  @keyframes rotateGrow {
    0% { transform: rotate(0deg) scale(1); }
    50% { transform: rotate(180deg) scale(1.5); }
    100% { transform: rotate(360deg) scale(1); }
  }
  



/* posizyon animasyonu */


.friends-list {
    display: none;
    animation: fadeIn 1s forwards;
    grid-column: 1;
    grid-row: 1/5;
}

.container.shifted {
    grid-template-columns: 4fr 2fr 4fr 1fr 1fr;
    animation: fade-in 1s forwards;

}

.friends-list.fade-out-slide { 
    animation: fadeOut 1s forwards;
}





.friiendss {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: x-large;
    font-family: 'Press Start 2P', cursive;
    border-bottom: 3px solid rgb(255, 255, 255);
    
}

.friiendsss{
    display: flex;
    justify-content: center;
}


.friiendssss{
    height: 350px;
    border: 1px solid rgb(255, 247, 2);
    border-radius: 35px;
}
